* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: rgba(37, 37, 37, 0.95);
}

#app {
    width: 100%;
    height: 100%;
    background: rgba(37, 37, 37, 0.95);
}